* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    min-width: 30rem;
    max-width: 64rem;
    margin: 0 auto;

}